.main-heading {
  text-decoration: underline;
  margin-bottom: 50px;
  background-color: teal;
  background-size: cover;
  height: 500px;
  text-align: center;
  }

.container {
  margin: 0 auto;
  min-width: 200px; 
  padding: 0 10px;
  }

.main-heading{
  position: relative;
  top: 200px:
  }
  
.container {
  position: relative;
  top: 200px;
  }
  
p {
  text-size: 50px;
  margine-top: 50px;
  background-color: yellow;
  }

#heading {
  text-decoration: underline;
  }
  
