body {
  text-align: center;
  background-color: yellow;
}
.heading {
  text-decoration: underline;
  margin-bottom: 50px;
  background-color: teal;
}
p {
  text-size: 50px;
  margine-top: 50px;
  background-color: yellow;
}
  
