.main-heading {
  text-decoration: underline;
  margin-bottom: 50px;
  background-color: teal;
  background-size: cover;
  height: 500px;
  text-align: center;
  }

.container {
  margin: 0 auto;
  max-width: 940px; 
  padding: 0 10px;
}

body {
  text-align: center;
  background-color: yellow;
  }

p {
  text-size: 50px;
  margine-top: 50px;
  background-color: yellow;
  }

#heading {
  text-decoration: underline;
  }
  
